<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head"></head>
<body class="bg-light">
<!--네비게이션 바-->
<div th:replace="fragments.html::main-nav"></div>

<div class="container">
    <!--에러메시지가 있을경우-->
    <div class="py-5 text-center" th:if="${error != null}">
        <p class="lead">스터디올래 가입</p>
        <div class="alert alert-danger" role="alert"th:text="${error}"></div>
            <p class="lead" th:text="${email}">your@email.com</p>
    </div>

    <!--에러메시지가 없을 경우-->
    <div class="py-5 text-center" th:if="${error == null}">
        <p class="lead">스터디올래 가입</p>
        <h2>스터디올래 서비스를 사용하려면 인증 이메일을 확인하세요.</h2>
        <div>
            <p class="lead" th:text="${email}">your@email.com</p>
            <a class="btn btn-outline-info" th:href="@{/resend-confirm-email}">인증 이메일 다시 보내기</a>
        </div>
    </div>
</div>

<!-- footer -->
<div th:replace="fragments.html::footer"></div>
</body>
</html>